doctype html
html(ng-app)
  head
    title= title
    link(rel='stylesheet',href='/stylesheets/style.css')
    link(rel='stylesheet',href='/stylesheets/vendor.min.css')
      
  body
    block content

   script(src='/javascripts/vendor.min.js')
    

