extends layout

block content
  h1=title
  p Welcome to #{title}
  .container
    .well
        p | Si en el texto siguiente aparece 12 en un recuadro, tenemos nuestra plantilla de Angular-Bootstrap de forma correcta:
        p {{ 7+5 }}
