extends layout

block content
  h1=title
  p Welcome to #{title}
  .container
    .well
        p |Si en el texto siguiente aparece 12 en un recuadro, tenemos nuestra plantilla de Angular-Bootstrap de forma correcta:
        p {{ 7+5 }}

  .container
    .well.panel.panel-default
      div(ng-controller ='OperacionesController')
       
       .panel-heading Calculadora
       .panel-body
            | Ingresar Primer Número
            input.form-control(type='number',ng-model="numUno")
            br
            | Ingresar Segundo Número
            input.form-control(type='number',ng-model="numDos")
            br
            .btn-group(role='group', aria-label='...')
              button.btn.btn-primary(ng-click="sumar()") +
              button.btn.btn-primary(ng-click="restar()") -
              button.btn.btn-primary(ng-click="multiplicar()") *
              button.btn.btn-primary(ng-click="dividir()") /
              button.btn.btn-primary(ng-click="clear()") C
            br
            br
            | Resultado
            input.form-control(type='number',ng-model="resultado") 
            br
  .container
    .well.panel.panel-default
        div(ng-controller="TiendaController")
           h4 Nombre: {{articulo.nombre }}
           h4 Precio: {{articulo.precio }}

  .container
   .row
    .col-md-12
     div.col-md-8(ng-controller = "TiendaController1", ng-cloak)
       input.form-control(ng-model="buscar",placeholder="Buscar:")
       div(ng-repeat="articulo in articulos | filter: buscar")
        h1 {{articulo.nombre }}
        h3 {{articulo.precio  | currency:"€ " :2 }}  
        p  {{articulo.stock }}
        IMG.img-responsive.container(ng-src="{{articulo.imagen }}")
        button.btn.btn-primary(type="button",ng-if="articulo.stock>0") Comprar
        hr

  //.container
   .well.panel.panel-dividir
    div(ng-cloak)
      form(name='reviewForm' ng-controller="ReviewController"  ng-submit="reviewForm.$valid && submit()" novalidate)
      p Usuario
      input.form-control(placeholder='User Name' ng-minlenght="3" ng-maxlenght="10" required ng-model="model.user"  name="user")
      div(ng-messages="reviewForm.user.$error" ng-if="reviewForm.user.$dirty")
      span.help-block(ng-message = "required") Este campo es obligatorio
      
      p Contraseña
      input.form-control(type="password" placeholder='Contraseña' ng-minlenght="2" ng-maxlenght="10" required ng-model="model.password"  name="password")
      div(ng-messages="reviewForm.password.$error" ng-if="reviewForm.password.$dirty")
      span.help-block(ng-message = "required") Este campo es obligatorio
      p  Confirmar Contraseña
      input.form-control(type="password" placeholder='Confirmar Contraseña' class="confirm-password" required ng-model="model.confirmar"  name="confirmar")
      div(ng-messages="reviewForm.confirmar.$error" ng-if="reviewForm.confirmar.$dirty")
      span.help-block(ng-message = "required") Este campo es obligatorio
      br
      input.btn.btn-primary(type='submit', value='Registrar')

    
  

          


